header, footer{
    background-color: #222;
    color: #f0f0f0;
}

.header {
	padding: 1em 0 !important;
	text-transform: uppercase;
	text-align: center;
}
    .header span {
        display: block;
        margin: 0.5em 1em;
    }
    
    #logo {
        min-width: 280px;
        max-width: 360px;
        }

@media all and (min-width:640px){
    .header {
        padding: 1em 10px !important;
    }
}


/* ------------------ NAVIGATION ------------------ */
.nav {
	list-style-type: none;
	font-weight: 400;
	font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	font-size: 0.9em;
	padding: 0;
}
    .nav li { 
            display: inline-block;	
            padding: 0.5em;
    } 
		.nav li a {
            color: #c24040;
            }
		.nav li a:hover {text-decoration: none; color: #9f1c1c;}

.nav-header{
    margin: 0.5em 0;
} 	
	

@media all and (min-width:640px){
    .nav-header {
        margin: 1.3em 0;
        text-align: right;
        font-size: 1.3em;
    }
    .nav-header li{
        padding: 0.5em 1em;   
    }
    .nav-header li:first-of-type a { padding-left: 0px; }
    .nav-header li:last-of-type a { padding-right: 0px; }
    .nav-header li a { font-weight: 600; }
}

/* ------------------ end NAVIGATION ------------------ */


.nav-footer{
    margin: 0.5em 0;
}

.nav-footer li{
     display: block;
}
@media all and (min-width:640px){
.nav-footer li{
    display: inline-block;
}


