---
title:  Blog
headline:  Latest Posts
summary: "Here are our most recent articles about startup marketing."
layout: static
---


{% for post in site.posts %}

    <h2>
        <a href="{{ post.url }}" title="{{ post.date | date_to_string }}">
            {{ post.title }}
        </a>
    </h2>

    {% if post.content contains '<!-- more -->' %}
        {{ post.content | split:'<!-- more -->' | first }}
    {% else %}
        {{ post.content }}
    {% endif %}

{% endfor %}

<div class="grid-container">
    <div class="grid-50">
        {% if previous_page %}
            <a class="btn" href="{{ previous_page_path }}">
                View older posts
            </a>
        {% endif %}
    </div>
    <div class="grid-50">
        {% if previous_page %}
            <a class="btn" href="{{ next_page_path }}">
                View newer posts
            </a>
        {% endif %}
    </div>
</div>


page
current page number

per_page
number of posts per page

posts
a list of posts for the current page

total_posts
total number of posts in the site

total_pages
number of pagination pages

previous_page
page number of the previous pagination page, or nil if no previous page exists

previous_page_path
path of previous pagination page, or nil if no previous page exists
next_page
page number of the next pagination page, or nil if no subsequent page exists
next_page_path
path of next pagination page, or nil if no subsequent page exists



<!--

<li><span></span> &raquo; <a href=""></a></li>

<section class="section">
    <div class="grid-container">
        <div class="grid-50 grid-50--addPaddingRight">
            <h2>New here?</h2>
            <p>
                Marketing Before Funding was build for <strong>early-stage startups with no money to waste</strong>.
            </p>
            <p>
                Our mission is to provide you with actionable, no-bullshit startup marketing advice and resources, so you can go out there and build a profitable, successful business.
            </p>
            <p>
                To get you going, we've put together a list our best articles and guides. <a href="#">Go ahead, take a look.</a>
            </p>
        </div>
        <div class="grid-50 grid-50--addPaddingLeft">
            <h2>Meet the founder.</h2>
            <p>
                Hi there! My name is Mike Abasov, and I started and run Marketing Before Funding.
            </p>
            <p>
                Many, though not all, posts you'll find on this site were written by me and are based on my experiences working with a number of new ventures over the last five years.
            </p>
            <p>
                To learn more about my story, <a href="#">go here</a>. And don't hesitate to <a href="#">drop me a line</a>, if you wanna chat. I'd love to connect!
            </p>
        </div>
    </div>
</section> -->
