<footer>
    <div class="grid-container">
         <div class="grid-100">
             <ul class="nav nav-footer">
             <li><a href="/"><strong>Marketing Before Funding.</strong></a></li>
             <li><a href="/about/">About.</a></li>
             <li><a href="/blog/">Blog.</a></li>
             <li><a href="/contact/">Contact.</a></li>
             <li><a href="/guest-post/">Guest post.</a></li>
             <li><a href="#">Subscribe via RSS.</a></li>
         </div>
    </div>
</footer>