<header>
    <div class="grid-container header">
        <div class="grid-25">
            <a href="/"><img src="/img/logo.png" id="logo" alt="Marketing Before Funding"></a>
        </div>
        <div class="grid-75">
            <ul class="nav nav-header">
                <li>
                    <a href="/about/">About</a>
                </li>
                <li>
                    <a href="/guest-post/">Guest Post</a>
                </li>
                <li>
                    <a href="/contact/">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</header>