<div class="sidebar-block subscriber">
    <h5>Join our community of 700+ founders &amp; get a free startup marketing ebook.</h5>
    <form
        class="full-width"
        target="_blank"
        method="post"
        id="SBpost"
        name="SBpost"
        action="http://marketingbeforefunding.us2.list-manage.com/subscribe/post?u=2a05c2f4293ebbfe3dd954dca&id=34905bacf1">
            <input
                type="email"
                name="EMAIL"
                placeholder="Enter your email address">
            <a class="btn btn-primary" href="javascript:document.SBpost.submit()">
                Get the ebook!
            </a>
    </form>
</div>