<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

<script>
    $(window).ready(function (){
       var bodyMarginLeft = $( '#content').css('margin-left');
       var bodyMarginRight = $( '#container-420').css('margin-right');
       $( '#header').css('margin-left', bodyMarginLeft);
       $( '#header').css('margin-right', bodyMarginRight);
    });

    $(window).resize(function (){
        if ($(window).width() >= 1024 ){
           var bodyMarginLeft = $( '#content').css('margin-left');
           var bodyMarginRight = $( '#container-420').css('margin-right');
           $( '#header').css('margin-left', bodyMarginLeft);
           $( '#header').css('margin-right', bodyMarginRight);
        }
    });
</script>