<div class="sidebar-block popular-posts"> 
    <h5>Popular posts</h5>
    <p>
        Here are our greatest hits&mdash;the most read and discussed posts we've published to date: 
    </p>
    <ul class="post-list">
        <li><a href="#">14 Renowned Experts Share Insanely Useful Startup Marketing Advice</a></li>
        <li><a href="#">11 Remarkable Female Entrepreneurs Uncover Major Startup Marketing Mistakes</a></li>
        <li><a href="#">Top 10 Best Startup Marketing Resources of 2012</a></li>
    </ul>
</div>
