<div class="sidebar-block popular-posts">
    <h5>Popular posts</h5>
    <p>
        Here are our greatest hits&mdash;the most read and discussed posts we've published to date:
    </p>
    <ul class="post-list">
        <li>
            <a href="/2012/08/07/startup-marketing-priorities/">
                14 Renowned Experts Share Insanely Useful Startup Marketing Advice
            </a>
        </li>
        <li>
            <a href="/2012/11/27/startup-marketing-mistakes/">
                11 Remarkable Female Entrepreneurs Uncover Major Startup Marketing Mistakes
            </a>
        </li>
        <li>
            <a href="/2012/12/27/best-of-2012/">
                Top 10 Best Startup Marketing Resources of 2012
            </a>
        </li>
        <li>
            <a href="/2012/08/28/startup-storytelling-mistakes/">
                5 Storytelling Mistakes to Avoid when Marketing Your Startup
            </a>
        </li>
        <li>
            <a href="/2012/09/26/ways-to-improve-copywriting/">
                15 Ways to Write Kickass Copy for Your Startup
            </a>
        </li>
        <li>
            <a href="/2013/03/05/stop-browsing-techcrunch-get-involved-in-your-startup-community/">
                Stop Browsing TechCrunch. Get Involved in Your Startup Community.
            </a>
        </li>
        <li>
            <a href="/2013/03/07/5-essential-white-hat-seo-techniques-for-startups/">
                5 Essential White Hat SEO Techniques for Startups
            </a>
        </li>
        <li>
            <a href="/2012/10/18/ebook/">
                Free Ebook: Corporate Identity Essentials for Startups
            </a>
            </li>
        <li>
            <a href="/2012/09/12/marketing-in-stealth-mode/">
                How to Start Marketing Your Startup While in Stealth Mode
            </a>
        </li>
        <li>
            <a href="/2013/02/26/complete-guide-to-creating-a-customer-persona-for-your-startup/">
                Complete Guide to Creating a Customer Persona for Your Startup
            </a>
        </li>
    </ul>
</div>
