<div class="sidebar-block subscriber">
    <h5>Join our community of 700+ founders &amp; get a free startup marketing ebook.</h5>
    <form
        class="full-width"
        target="_blank"
        method="post"
        id="SBsidebar"
        name="SBsidebar"
        action="http://mikeabasov.us2.list-manage.com/subscribe/post?u=2a05c2f4293ebbfe3dd954dca&amp;id=d02051f9e1">
            <input
                type="email"
                name="EMAIL"
                placeholder="Enter your email address">
            <a class="btn btn-primary" href="javascript:document.SBsidebar.submit()">
                I'm in!
            </a>
    </form>
</div>