<section class="section-red">
    <div class="grid-container">
        <div class="grid-70 prefix-15 suffix-5 tablet-grid-90 tablet-prefix-5 tablet-suffix-5">
            <h2>Join our community of 700+ founders and get the free startup marketing ebook.</h2>
            <form class="full-width">
                <input type="text" placeholder="Enter your email address" />
                <a class="btn btn-red-dark" href="#">Get the Toolkit!</a>
            </form>
        </div>
    </div>
</section>      