@import "settings";
@import "mixins";
@import "compass/css3";


/* ------------------ COLORS ------------------ */

body {
    background-color: $white;
    color: $grey;
}



/* ------------------ BLOCKS ------------------ */


/* ------------------ end BLOCKS ------------------ */

img {
    max-width: 100%;
}

/* ------------------ LISTS ------------------------ */

.post-list{
    list-style-type: none;
    padding: 0;
    margin: 0;
    border-top: #c8c8c9 solid 1px;
}
    .post-list li {
    	border-bottom: #c8c8c9 solid 1px;
    	padding: 0.7*$base-font-size 0;
    }

/* ------------------ end LISTS -------------------- */