@import "settings";
@import "mixins";


/* ------------------ COLORS ------------------ */

body {
    background-color: $white;
    color: $grey;
}



/* ------------------ BLOCKS ------------------ */


.block-comments {
    margin: 1em 0;
}

/* ------------------ end BLOCKS ------------------ */

/* ------------------ POSTS ------------------ */

.post-content{
    padding: 3em 0;
}

.post-content p{
    font-size: 1em;
    line-height: 1.55;
}

@media all and (min-width:640px){
    .post-content p{
        font-size: 1.25em;
    }
}

.post-meta-end{
    font-size: 1em;
    font-style: italic;
    font-weight: 700;
    text-align: center;
    margin: 2em 0;
}

/* ------------------ end POSTS ------------------ */




/* ------------------ LISTS ------------------------ */

.post-list{
    list-style-type: none;
    padding: 0;
    margin: 0;
    border-top: #c8c8c9 solid 1px;
}
    .post-list li {
    	border-bottom: #c8c8c9 solid 1px;
    	padding: 0.7em 0;
    }

/* ------------------ end LISTS -------------------- */



/* ------------------ FORMS ------------------------ */

form {margin: 24px 0;}
    form.noMargin { margin: 0;}

input[type="text"],
input[type="email"] {
    font-size: 1.3em;
    font-weight: 200;
    color: #adadad;
    outline: none;
    padding: 10px;
    margin: 6px 0;
    border:solid 1px #fff;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
}
input[type="text"]:focus {border-color: #d42525;}

.btn {
    margin: 6px 0;
    font-size: 1.3em;
    line-height: 1.5;
    font-weight: 400;
    display: block;
    text-align: center;
    padding: 10px;
    border: solid 1px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    text-decoration: none;
    text-shadow: none;
}
    .btn:hover {text-decoration: none; color: inherit;}

.btn-red-dark {
    color: #fff;
    background: #9f1c1c;
    border-color: #9f1c1c;
}
    .btn-red-dark:hover {background: #be2121; border-color: #be2121;}



.full-width input, a{
    width: 95%;
}

/* ------------------ end FORMS ------------------ */