@import "settings";
@import "mixins";
@import "compass/css3";


/* ------------------ COLORS ------------------ */

body {
    background-color: $white;
    color: $grey;
}



/* ------------------ BLOCKS ------------------ */


.block-comments {
    margin: $base-font-size 0;
}

/* ------------------ end BLOCKS ------------------ */

img {
    max-width: 100%;
}

/* ------------------ LISTS ------------------------ */

.post-list{
    list-style-type: none;
    padding: 0;
    margin: 0;
    border-top: #c8c8c9 solid 1px;
}
    .post-list li {
    	border-bottom: #c8c8c9 solid 1px;
    	padding: 0.7*$base-font-size 0;
    }

/* ------------------ end LISTS -------------------- */



/* ------------------ FORMS ------------------------ */

form {margin: 24px 0;}
    form.noMargin { margin: 0;}

input[type="text"],
input[type="email"] {
    font-size: 1.3*$base-font-size;
    font-weight: 200;
    color: #adadad;
    outline: none;
    padding: 10px;
    margin: 6px 0;
    border:solid 1px $white;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
}
input[type="text"]:focus {border-color: $dark-red;}

.btn {
    margin: 6px 0;
    font-size: 1.3*$base-font-size;
    line-height: 1.5;
    font-weight: 400;
    display: block;
    text-align: center;
    padding: 10px;
    border: solid 1px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    text-decoration: none;
    text-shadow: none;
    color: $white;
    background-color: $link;
    border-color: $link;
}
    .btn:hover {
        text-decoration: none;
        color: inherit;
        background: #be2121;
        border-color: #be2121;
    }

.full-width input, a{
    width: 95%;
}

/* ------------------ end FORMS ------------------ */