@import "settings";
@import "mixins";


*, html, body, section, div, p{
	font-weight: 400;
    line-height: $base-line-height;
	font-family: $body-font;
}

p,
ul,
ol {
	margin: 0 0 $base-p-spacing 0;
}

	ul {margin-left: 50px; list-style: disc;}
	ol {margin-left: 50px; list-style: decimal;}

br {
    line-height: 0;
}

/* --- Headlines --- */

// Basics

h1,
h2,
h3,
h4,
h5,
h6 {
	color: $dark-grey;
    font-family: $headline-font;
	line-height: $base-line-height;
	margin: 1em 0 0.5em 0;
    font-weight: 800;
}

h4{
    font-weight: 400;
}

// Mixins

@mixin header-1 {
    font-size: 2.775*$base-font-size;
    line-height: 0.75*$base-line-height;
}

@mixin header-2 {
    font-size: 2.5*$base-font-size;
    line-height: 0.75*$base-line-height;
}

@mixin header-3 {
    font-size: 2*$base-font-size;
    line-height: 0.75*$base-line-height;
}

@mixin header-4 {
    font-size: 1.875*$base-font-size;
    line-height: 0.75*$base-line-height;
}

@mixin header-5 {
    font-size: 1.5*$base-font-size;
}

@mixin header-6 {
    font-size: 1.3*$base-font-size;
}


// Actual Styles

h1 {
    @include header-1;
}

h2 {
    @include header-2;
    @include screen-max($m-break - 1px) {
        @include header-3;
    }
}

h3 {
    @include header-3;
    @include screen-max($m-break - 1px) {
        @include header-4;
    }
}

h4 {
    @include header-4;
    @include screen-max($m-break - 1px) {
        @include header-5;
    }
}

h5 {
    @include header-5;
    @include screen-max($m-break - 1px) {
        @include header-6;
    }
}


a {
	color: $link;
	text-decoration: none;
}
	a:hover {text-decoration: none; color: $hover;}
	a:visited {text-decoration: none;}

strong, b {
	font-weight: 600;
}

.center {text-align: center;}
.left {text-align: left;}
.right {text-align: right;}

img {
    width: 100%;
    border: none;
}
