.section-headline {
    font-size: 1.3*$base-font-size;
    color: $white;
    text-shadow: 1px 1px 1px black;
    background: no-repeat center center;
}
    .section-headline h1 {
        color: $white;
        @include header-2;
        @include screen-max($m-break - 1px) {
            @include header-5;
        }
        text-shadow: 1px 1px 2px black;
     }
     .section-headline a {color: $white;}
     .section-headline a:hover {color: $super-light-grey;}