@import "compass/css3";
@import "settings";
@import "mixins";


.sidebar {
    padding: 3em 1%;
    background-color: #f4f4f4;
    @include screen-max($m-break) {
        padding: 0;
        background-color: #fff;
    }
}

.sidebar-block {
    padding: 1em;
    margin-bottom: 1em;
    @include screen-max($m-break) {
        padding: 0;
    }
}

.classic-posts img {
    margin: 0.5em 0;
    @include transition-property(opacity);
    @include transition-duration(2s);
    @include opacity(0.5);
    @include screen-max($l-break) {
        max-width: 420px;
    }
}

.classic-posts img:hover {
    @include opacity(1);
}