.subscriber {
    background-color: $red;
    color: $white;
    @include screen-max($m-break) {
        padding: 1em;
        margin-bottom: 1em;
    }
}
    .subscriber h5 {
        color: $white;
    }

.subscriber-post {
    margin: 1em 0;
    padding: 1em;
}
