<!DOCTYPE html>
<html>
    <head>

        {% include head.html %}

        <title>{{ page.title }} - {{ site.name }}</title>
    </head>
    <body>

        {% include header.html %}


        <section>
            <div class="grid-container">
                <div class="grid-60 tablet-grid-60 post-content category-page">
                            <h1>
                                {% if page.headline %}
                                    {{ page.headline }}
                                {% else %}
                                    {{ page.title }}
                                {%endif %}
                            </h1>
                            <p class="category-page-meta">{{ page.summary }}</p>

                            {{ content }}
                </div>
                <div class="grid-35 tablet-grid-35 prefix-5 tablet-prefix-5 sidebar">
                            {% include sidebar-subscriber.html %}

                            {% include sidebar-popular.html %}
                </div>
            </div>
        </section>

        {% include footer.html %}

        {% include scripts.html %}

    </body>
</html>
