<!DOCTYPE html>
<html>
    <head>

        {% include head.html %}

        <title>{{ page.title }} - {{ site.name }}</title>

    </head>
    <body>

        {% include header.html %}

        {% if page.featured %}
        <section class="section-headline" style="background-image: url('/img/featured/{{ page.featured }}')">
        {% else %}
        <section class="section-headline" style="background-image: url('/img/featured/default.jpg')">
        {% endif %}
            <div class="grid-container">
                <div class="grid-65 suffix-35">
                        <h1>
                            {% if page.headline %}
                                {{ page.headline }}
                            {% else %}
                                {{ page.title }}
                            {%endif %}
                        </h1>
                        <p class="post-meta">
                            {% if page.author == "Mike Abasov" %}
                                <a href="/about/#mike">Written by {{ page.author }}</a>
                            {% else %}
                                Written by {{ page.author }}
                            {% endif %}
                        </p>
                </div>
            </div>
        </section>

        <section>
            <div class="grid-container">
                <div class="grid-60 tablet-grid-60 post-content">
                            {{ content }}

                            {% include share.html %}

                            {% include disqus.html %}
                </div>
                <div class="grid-35 tablet-grid-35 prefix-5 tablet-prefix-5 sidebar">
                            {% include sidebar-subscriber.html %}

                            {% include sidebar-popular.html %}
                </div>
            </div>
        </section>

        {% include footer.html %}

        {% include scripts.html %}

    </body>
</html>
